* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #55C0CF;
  --choco-dark: #2C1E1E;
  --choco-darker: #1F1615;
  --highlight: #B65F28;
  --yellow: #FFD543;
  --white: #FFFFFF;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--choco-dark);
  font-family: 'Noto Serif', serif;
  overflow-x: hidden;
  background-color: var(--highlight);
}

h1, h2, h3 {
  font-family: 'Fjalla One', sans-serif;
}

main {
  flex: 1;
}
 
.layout {
display: flex;
flex-direction: column;
height: 100vh;
}

