.grid {
  flex: 1;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--white);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
}

.noResult {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.1rem;
}
